html, body {
	padding:0%;
	margin:0;
	font-family: sans-serif;
}

body {
	background-color: rgb(31, 31, 31);
	color: aliceblue;
	display:flex;
	justify-content: center;
	height: 100vh;
	align-items: center;
}

.character-card {
	height: 500px;
	margin: 50px;
	box-shadow: 5px 5px 20px black;
	overflow: hidden;
	margin-bottom: 30%;
}


.characters {
	display: flex;
}

img {
	height: 500px;
	width: 350px;
	border-radius: 3px;
	transition: .5s;
}

.intro {
	height: 80px;
	width: 350px;
	padding: 5px;
	box-sizing: border-box;
	position: absolute;
	background: rgb(27, 27, 27, .5);
	color: white;
	bottom: 21%;
	transition: .5s;
}

h2 {
	margin: 10px;
	font-size: 40px;
}

p {
	font-size: 16px;
	margin:20px;
	display: none;
	/* visibility: none; */
	opacity: 0;
}

.character-card:hover{
	cursor: pointer;
}

.character-card:hover .intro {
	height: 252px;
	bottom: 20%;
	background: rgb(27, 27, 27, .5);
}

.character-card:hover p{
	opacity: 1;
	/* visibility: visible; */
	display:block;
}

.character-card:hover img{
	transform: scale(1.1) rotate(-3deg);
}